<div class="panel panel-primary">
  <div class="panel-heading">
    {{productList}}
  </div>

  <div class="panel-body">
    <div class="row">
      <div class = 'col-md-4'><p>Filter By :</p></div>
      <div class="col-md-6"><input type="text"/></div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <span>Filter By:</span>
      </div>
    </div>

    <div class="table-responsive">
      <div class="table">
        <thead>
          <tr>
            <th>Show Image</th>
            <th>Product Name</th>
            <th>Product Code</th>
            <th>Product Price</th>
            <th>Release Date</th>
            <th>Product Rating</th>
          </tr>
        </thead>

        <tbody>
          
        </tbody>
      </div>
    </div>
    </div>
  </div>
</div>
